<div class="navbar">
  <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
  <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("Add a Stylist", "Create", "Stylists")</p>
  <p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("Add a Client", "CreateClient", "Clients")</p>
  
  
</div>