@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist


<h2>@Html.DisplayFor(model => model.StylistFirstName)'s Details</h2>

<p>Last Name: @Html.DisplayFor(model => model.StylistLastName)</p>
@* <p>Specialty: @Html.DisplayFor(model => model.StylistSpecialty)</p> *@
<p>Specialty: @Model.StylistSpecialty</p>
<p>@Model.StylistFirstName's Clients: </p>


@if (@ViewBag.TheClients == 0)
{
  <p>This Stylist has no clients yet - click @Html.ActionLink("here to add one", "Create", "Clients", new { id = @Model.StylistId }) </p>
}
else
{
  <p>List of clients goes here</p>
}