@{
  Layout = "_Layout";
}

@using HairSalon.Models

@if (@Model.Count == 0)
{
  <div class="center-no-clients">
    <h4>No Clients have been added to the system yet</h4>

    <p>@Html.ActionLink("Add a Client", "CreateClient")</p>
  </div>
} 
else
{
  <div class="center-clients">
    <h2>Eau Claire's Clients</h2>
    <ul>
      @foreach (Client client in Model)
      {
        <li>@Html.ActionLink($"{client.ClientFirstName}" + " " + $"{client.ClientLastName}", "Details", new {id = client.ClientId} ) | @client.Stylist.StylistFirstName's client</li>
        @* <li>@( $"{client.ClientFirstName}" + " " + $"{client.ClientLastName}" + " ") @Html.ActionLink("client details", "Details", new {id = client.ClientId})</li> *@
      }
    </ul>
    <p class="torightc">@Html.ActionLink("Add a Client", "CreateClient")</p>
  </div>
  
} 





