@{
  Layout = "_Layout";
}

@using HairSalon.Models

@if (@Model.Count == 0)
{
  <h5>No Clients have been added to the system yet</h5>
  <p>@Html.ActionLink("Add a Client", "Create")</p>
  <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
} 
else
{
  <h3>Eau Claire's Clients</h3>
  
  <ul>
    @foreach (Client client in Model)
    {
      <li>@Html.ActionLink($"{client.ClientFirstName}", "Details", new {id = client.ClientId} ) </li>
    }
  </ul>
  <p>@Html.ActionLink("Add a Client", "Create")</p>
  <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
}





