@{
  Layout = "_Layout";
}

@using HairSalon.Models



@if (@Model.Count == 0)
{
  <h4>No Clients have been added to the system yet.</h4>
  <p>@Html.ActionLink("Add a Client", "Create")</p>
} 
else
{
  <h3>Eau Claire's Clients</h3>
  
  @* <ul>
    @foreach (Stylist stylist in Model)
    {
      <li>@Html.ActionLink($"{stylist.StylistFirstName}", "Details", new {id = stylist.StylistId} ) </li>
    }
  </ul>
  <p>@Html.ActionLink("Add a Stylist", "Create")</p>
  <p>@Html.ActionLink("Return Home", "Index", "Home")</p> *@
}





